#config files
.idea/*

#cache files
.cache/*

#compiled files
*.pyc

#temp files
*~

#migrations
*/migrations/*

#static
bc_edgv/static_root/*
static_root/*

#media
bc_edgv/media_root/*
media_root/*

#nginx
nginx/*
